Repository slangenbach/notebot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, nbqa-black, nbqa-ruff, nbconvert

black:
  name: Format Python code with black
  entry: black
  language: system

ruff:
  name: Lint Python code with ruff
  entry: ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: system

nbqa-ruff:
  name: nbqa-ruff
  entry: nbqa ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

nbconvert:
  name: nbconvert
  stages:
  - commit
  entry: jupyter nbconvert
  args:
  - --clear-output
  - --inplace
  language: system

Prototype bot
  notebooks/prototype.ipynb
  notebot/constants.py
Due: black, ruff, nbqa-black, nbqa-ruff, nbconvert

Add UI
  notebooks/prototype.ipynb
Due: nbqa-black, nbqa-ruff, nbconvert

Configure ruff
  pyproject.toml
Due: none

Convert notebook into app
  notebooks/prototype.ipynb
  notebot/constants.py
  notebot/main.py
Due: black, ruff, nbqa-black, nbqa-ruff, nbconvert

Update README
  README.md
  pyproject.toml
Due: none

Refactor app
  .gitignore
  notebot/main.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Prepare launch on HF spaces
  .gitignore
  README.md
  notebot.code-workspace
  notebot/app.py
  requirements.txt
Due: black, ruff

Update dependencies and README
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Add dev container spec
  .devcontainer/devcontainer.json
Due: none

Update README
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  nbqa-black: any of: \.ipynb$
  nbqa-ruff: any of: \.ipynb$
  nbconvert: any of: \.ipynb$
